@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
}
.card {
    width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    font-family: 'Nunito Sans', sans-serif;
  }
  .twinr-logo{
    padding: 15px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px 0;
  }
  
  .card-description {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  .card-msg{
    color: #171d1b6c;
    font-size: x-large;
    text-align: center;
  }
  .input-container {
    position: relative;
    width: 100%;
    padding: 0.5em 0;
  }
  .inp-text{
    padding: 0 0;
    margin: 10px 0;
    font-size: large;
    font-weight: bold;
  }
  .input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }
  .authenticate-pass{
    display: flex;
  }
  .auth-pass-msg-red p{
    padding: 2px 5px;
    margin: 0;
  }
  .auth-pass-msg-green p{
    padding: 2px 5px ;
    margin: 0;
  }
  .auth-pass-msg-green{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #12BF7C;
  }
  .auth-pass-msg-red{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DE3F44;
  }
  .signup-button {
    display: inline-block;
    width: 100%;
    padding: 1em;
    background-color: #12BF7C;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .login-button{
    display: inline-block;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    background-color: #171d1b27;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #29926a;
  }
  .login-button:hover {
    background-color: #3f0d0d4a;
  }
  .footer-option{
    margin-top: 2em;
  }
  .forgot-pass{
    margin: 1em 0;
  }
  .signup-click{
    color: #12BF7C;
  }
  .card-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 0.1em;
  }
  .terms-policy{
    display: flex;
    justify-content: center;
  }
  .terms-policy p{
    color: #12BF7C;
    font-weight: bold;
    padding: 0 3px;
  }
  .go-back{
    color: #12BF7C;
    font-size: large;
    font-weight: bold;
    margin-top: 1em;
  }
  .otp-timer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
  }
  .otp-msg-resend{
    display: flex;
  }